#main{
    background-color:black;
    color:aliceblue
}
#hit{
    border-radius: 5px;
    
}
.entry tr:hover{
   background: rgb(105, 105, 105);
   color: aliceblue;
   
}
.com{
    position: fixed;
    width: 100%;
}